<div class="profile" style="border: 1px solid white
">
  <div class="row">

  <% @users.each do |user| %>
      <%= user.email %> - <%= user.profile.name %> - 
      <%= link_to('View User', profile_path(user.profile)) %>
    </br>
  <% end %>
  </div>
</div>



